body { 
    background-color: rgb(53, 40, 40);
    padding: 15px;
}
header {
    width: 10px;
    background-color: rgb(189, 99, 99);
    padding: 15px;
}
    
nav {
    background-color: rgb(64, 75, 62);
    width: 400px;
    height: 95px;
    display: scroll;
}
main {
    background-color: cornsilk;
}
.mid {


}
footer {
    width: 400px;
    background-color: rgb(88, 48, 48);
    color: cornsilk;
    display: block;
    text-align: center;
    list-style: none;
}
/* Change the link color to cyan on hover */
.links a:hover {
    background-color: cyan;
}